@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";

.addedStep {
  position: relative;
  border-radius: 8px;
  box-shadow: $monoFrame;

  width: 100%;
  .actions {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50px;
  }
  &__content {
    margin-top: 30px;
    padding: 20px;

    .stepNum {
      font-size: 20px;
      text-align: left;
      color: $monoFont;
    }
    .stepDescription {
      margin-top: 10px;
      text-align: left;
    }
  }
  .updateStepInput {
    border-radius: 8px;
    margin-top: 10px;
    width: 100%;
    &__content {
      display: flex;
      flex-direction: column;
      width: 100%;
      .inputBox {
        margin: 0 auto;
        width: 100%;

        p {
          text-align: left;
          padding: 10px;
          font-weight: 600;
          color: $monoFont;
          margin-top: 20px;
        }
        .stepNum {
          width: 97%;
          height: 30px;
          padding: 8px 0 8px 8px;
          outline: none;
          border-radius: 8px;
          border: none;
          box-shadow: $monoInputShadow;
        }
        .textareaInput {
          padding: 8px 0 8px 8px;
          margin: 0 auto;
          width: 97%;
          min-height: 100px;
          resize: vertical;
          outline: none;
          border-radius: 8px;
          border: none;
          box-shadow: $monoInputShadow;
        }
      }
    }
  }
}
