@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

.monoButton {
  outline: none;
  border: none;
  cursor: pointer;
  width: 186px;
  height: 56px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 400;
  color: $monoFont30;
  text-align: center;
  background: $monoButtonBackground;
  box-shadow: $monoButtonShadow;
  transition: 0.5s;
  &:hover {
    box-shadow: $monoButtonShadowHover;
    background-color: white;
  }
  &:active {
    transition: 0.1s;
    background: $monoButtonBackground;
    box-shadow: $monoButtonShadow;
  }
}

.default {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  color: $monoFont30;
  width: 186px;
  height: 56px;
  transition: 0.5s;
  &:hover {
    color: $monoFont;
  }
  &:active {
    color: $monoFont30;
    transition: 0.1s;
  }
}
