@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

.calculator_wrapper {
  background-color: rgb(240, 240, 240);
  box-shadow: $box-shadow;
  border: 1px solid rgba(236, 236, 236, 0.692);
  border-radius: 15px;
  max-width: 900px;
  width: 70%;
  display: grid;
  place-items: center;
  margin: 0 auto;
  position: relative;
  @include resp(500px) {
    width: 98%;
  }
  .exitBtn {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }
  .content {
    padding-top: 60px;
    width: 80%;
    display: grid;
    place-items: center;

    .title {
      color: $font-dark;
      @include resp(500px) {
        font-size: 18px;
      }
    }
    .calculation {
      .result {
        padding: 50px 0;
        color: $orange-main;
        h2 {
          color: $font-dark;
          margin-top: 30px;
        }
        button {
          margin-top: 50px;
          padding: 10px 90px;
          background-color: $orange-main;
          border: none;
          border-radius: 8px;
          color: white;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background-color: $orange-hover;
          }
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
      form {
        padding: 50px 0;
        margin: 0 auto;
        max-width: 500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include resp(500px) {
          width: 90%;
        }
        .inputBlock {
          margin-top: 20px;
          width: 100%;
          max-width: 200px;
          @include resp(860px) {
            max-width: none;
          }
          p {
            text-align: left;
            color: $font-dark;
            padding-left: 7px;
          }
          .inputEl {
            border: $input-border;
            border-radius: 8px;

            input,
            select {
              width: 90%;
              height: 30px;
              border: none;
              outline: none;
              font-size: 16px;
              color: $main-blue;
              border-radius: 8px;
              @include resp(500px) {
                width: 97%;
              }
            }
          }
        }
        .button {
          width: 100%;
          margin-top: 30px;
          input {
            border: none;
            border-radius: 8px;
            width: 100%;
            background-color: $orange-main;
            color: $white;
            height: 38px;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              background-color: $orange-hover;
            }
          }
        }
      }
    }
  }
}
