@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

.meal__wrapper {
  width: 430px;
  height: 250px;
  box-shadow: $monoFrame;
  border-radius: 8px;
  margin: 20px auto;
  @include resp(500px) {
    width: 95%;
  }
  .meal_content {
    .image {
      img {
        width: 100%;
        border-radius: 8px 8px 0 0;
        height: 100px;
        object-fit: cover;
      }
    }
    .split {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      width: 90%;
      margin: 20px auto 0 auto;
      .Information {
        text-align: left;
        color: $monoFont;
        .mealType {
          font-size: 20px;
          font-weight: 900;
        }
        .mealName {
          margin-top: 10px;
          font-size: 20px;
          font-weight: 700;
        }
        .mealServing {
          span {
            font-weight: 700;
          }
        }
        .mealCalories {
          span {
            font-weight: 700;
          }
        }
      }
      .action {
        margin: 0 auto;
      }
    }
  }
}
