@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

.meal__wrapper {
  width: 430px;
  margin-top: 3px;
  box-shadow: $box-shadow;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);

  @include resp(1122px) {
    margin: 3px auto;
  }

  .meal_content {
    text-align: left;
    padding: 5px 10px;
    .nameAndAction {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .meal_name {
        font-size: 20px;
        color: $font-dark;
        font-weight: 700;
      }
      button {
        border: 1px solid $orange-main;
        background: none;
        width: 100px;
        height: 20px;
        border-radius: 8px;
        color: $orange-main;
        font-weight: 700;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: $orange-main;
          color: white;
        }
      }
      .icon {
        cursor: pointer;
        color: $font-dark;
        &:hover {
          transition-duration: 0.3s;
          transform: rotate(-180deg);
        }
      }
    }

    .calories_count {
      font-size: 14px;
      color: $font-dark;
      margin-bottom: 14px;
    }
  }
}
