@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.mainNavMenu {
  background-color: $blue-main;
  width: 100%;
  .content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    @include resp(500px) {
      justify-content: flex-end;
    }
    .logo {
      display: flex;
      align-items: center;
      cursor: pointer;
      img {
        width: 50px;
      }
      p {
        color: $orange-main;
        font-size: 24px;
        font-weight: 900;
      }
      @include resp(500px) {
        display: none;
      }
    }
    .navigation {
      .link-item {
        padding: 0 20px;
        margin-left: 20px;
      }
      .link {
        color: $orange-main;
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          color: $orange-hover;
        }
      }
      .button {
        background-color: $orange-main;
        width: 150px;
        height: 38px;
        border: none;
        border-radius: 8px;
        color: white;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: $orange-hover;
        }
      }
    }
  }
}
