@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.navMenu {
  background-color: $main-blue;
  width: $content_width;
  margin: 0 auto;
  border-radius: 0 0 15px 15px;
  color: $white;
  padding: 10px;
  @include resp(500px) {
    width: 90%;
  }
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;

    .logo {
      p {
        margin: 0;
        font-weight: 900;
      }
    }
    .navigation {
      display: flex;
      a {
        color: $white;
        text-decoration: none;
        padding: 0 5px;
        @include resp(500px) {
          font-size: 13px;
        }
      }
    }
  }
}
