@import "../../../../../styles/colors.scss";
@import "../../../../../styles/mixins.scss";
@import "../../../../../styles/constants.scss";

.day {
  width: 100%;

  &__content {
    padding: 10px;
    background-color: white;
    box-shadow: $box-shadow;
    border-radius: 8px;

    .dayTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      border-bottom: 2px solid $orange-main;
    }
    .dayName {
      color: $orange-main;
      font-size: 20px;

      text-transform: capitalize;
    }
    .meals {
      .meal {
        margin-top: 10px;
      }
    }
  }
}
