@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";
@import "../../../../styles/constants.scss";

.singleMeal {
  background-color: white;
  width: 150px;
  border-radius: 8px;
  text-align: center;
  transition: 0.4s;
  margin: 10px;
  cursor: pointer;
  &:hover {
    box-shadow: $box-shadow;
  }

  &__content {
    padding: 10px;
    .image {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      img {
        max-width: 100px;
        max-height: 100px;
        object-fit: fill;
      }
    }
    .mealTitle {
      margin-top: 10px;
      p {
        text-transform: capitalize;
      }
    }
  }
}

.displayMeal {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(56, 56, 56, 0.548);
  display: grid;
  place-items: center;
  z-index: 100;
  &__content {
    width: 50%;
    border-radius: 16px;
    background-color: white;
    position: relative;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 100px;
    .exitBtn {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }

    .mainInfo {
      display: flex;
      justify-content: space-between;

      .image {
        img {
          width: 100%;
          height: 200px;
        }
      }
      .titleAndIngredients {
        margin: 0 auto;
        position: relative;
        .smallEditMainInfoBtn {
          position: absolute;
          top: 0px;
          left: -20px;
          color: $font-light;
          transition: 0.3s;
          cursor: pointer;
          &:hover {
            color: $orange-main;
          }
        }
        .titleBox {
          display: flex;
          align-items: center;
          a {
            text-decoration: none;
            padding-left: 10px;
            font-weight: 700;
            color: $orange-main;
          }
          .title {
            font-size: 36px;
            line-height: 30px;
            font-weight: 900;
            color: $font-dark;
          }
        }

        .ingredientBlock {
          margin-top: 30px;
          position: relative;
          .smallEditIngredientsBtn {
            position: absolute;
            top: -20px;
            right: -20px;
            color: $font-light;
            transition: 0.3s;
            cursor: pointer;
            &:hover {
              color: $orange-main;
            }
          }
          .singleIngredient {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: $input-border;
            &--image {
              display: flex;
              align-items: center;
              img {
                width: 30px;
              }
            }
            .ingredientName {
              margin-left: 20px;
              font-size: 16px;
              font-weight: 700;
            }
            &--amount {
              margin-left: 20px;
              font-size: 16px;
              font-weight: 700;
              span {
                margin-left: 3px;
              }
            }
          }
        }
      }
    }
    .mealControl {
      width: 100%;
      &__content {
        display: flex;
        align-items: center;
        .actionBtn {
          border-radius: 8px;
          display: flex;
          align-items: center;
          padding: 5px 15px;
          color: $orange-main;
          cursor: pointer;

          p {
            margin-left: 10px;
          }
        }
      }
    }
    .line {
      background-color: $orange-main;
    }
    .nutrition {
      width: 100%;
      &__content {
        width: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        text-align: center;
      }
    }
    .recipeSteps {
      width: 100%;
      position: relative;
      &__content {
        .smallEditStepsBtn {
          position: absolute;
          top: 0px;
          right: 0px;
          color: $font-light;
          transition: 0.3s;
          cursor: pointer;
          &:hover {
            color: $orange-main;
          }
        }
        .steps {
          &__content {
            .stepBlock {
              margin-top: 20px;
              .stepTitle {
                font-size: 20px;
                font-weight: 700;
                color: $orange-main;
              }
              .stepDescription {
                margin-top: 10px;
              }
            }
          }
        }
        .edit {
          width: 90%;
          .updateSteps {
            margin-top: 30px;
            &__content {
              display: flex;
              flex-direction: column;
              input {
                margin-top: 5px;
                height: 28px;
                border-radius: 8px;
                padding: 2px 5px;
                border: $input-border;
              }
              textarea {
                margin-top: 5px;
                width: 100%;
                min-height: 100px;
                resize: vertical;
                outline: none;
                border-radius: 8px;
                border: $input-border;
              }
            }
          }
          .updateStepsBTN {
            display: grid;
            place-items: center;
            margin-top: 20px;
            color: white;
            background-color: $orange-main;
            height: 28px;
            border-radius: 8px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.updateModal {
  width: 100%;
}
