@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";

.createMealForm {
  margin-top: 20px;
  width: 100%;
  &__content {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 10px;
    @include resp(1100px) {
      grid-template-columns: 1fr;
    }
    // MAIN INFO SECTION
    .mainInfo {
      @include resp(1100px) {
        box-shadow: $monoFrame;
        padding: 20px;
      }
      &__content {
        width: 100%;
        .formName {
          font-size: 1.5rem;
          color: $monoFont;
          font-weight: 700;
        }
        .form {
          display: flex;
          flex-direction: column;
          .formInput {
            margin-top: 20px;
          }
        }
      }
    }
    // INGREDIENT SECTION
    .ingredientsNeeded {
      @include resp(1100px) {
        margin-top: 30px;
      }
      &__content {
        .formName {
          font-size: 1.5rem;
          color: $monoFont;
          font-weight: 700;
        }
        .ingSearch {
          margin-top: 30px;
          position: relative;
          .inputBlock {
            position: relative;
            display: flex;
            padding: 1px 10px;
            border-radius: 8px;
          }
          .searchResults {
            position: absolute;
            width: 100%;
            height: 200px;
            overflow-y: scroll;
            top: 60px;
            box-shadow: $box-shadow;
            background-color: $monoBg;

            &__content {
              width: 90%;
              margin: 10px auto;
              .emptySearch {
                span {
                  color: $orange-main;
                }
              }
            }
          }
        }

        .addedIngredients {
          margin-top: 30px;
          width: 100%;
          &__content {
            width: 90%;
            margin: 0 auto;
          }
        }
      }
    }
    // COOKING STEPS
    .cookingSteps {
      padding: 10px;
      @include resp(1100px) {
        box-shadow: $monoFrame;
        margin-top: 50px;
      }
      &__content {
        width: 100%;
        margin: 0 auto;

        .titleAndAction {
          display: flex;
          align-items: center;
          .formName {
            font-size: 1.5rem;
            color: $monoFont;
            font-weight: 700;
            text-align: center;
          }
        }
        .steps {
          .displaySteps {
            margin-top: 60px;
          }
        }
      }
    }
  }
}
