@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.layout {
  background: rgb(201, 214, 220);
  background: linear-gradient(
    150deg,
    rgba(201, 214, 220, 0) 0%,
    rgba(201, 214, 220, 1) 99%
  );
  .dashboard {
    margin-left: 260px;
    display: grid;
    place-items: center;
    transition: 0.3s;
    .content {
      border-radius: 10px;
      width: 95%;
      height: 95%;
      min-height: 92vh;
      background-color: $silver-box;
    }
  }
}
