@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.creator {
  width: 100%;
  &__content {
    width: 98%;
    margin: 0 auto;
    .addButton-wrap {
      display: flex;
      justify-content: flex-start;
      flex-direction: row-reverse;
      align-items: center;
      .actions {
        width: 70%;
        display: flex;
        justify-content: space-around;
      }
    }
    .planer {
      width: 97%;
      margin: 60px auto 0 auto;
      &__content {
        .sectionTitle {
          display: flex;
          justify-content: space-between;
          max-width: 600px;
        }
        .plansDisplay {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: space-between;
        }
        .mealDisplay {
          margin-top: 100px;
          .sectionTitle {
            text-align: left;
            font-size: 2rem;
            color: $monoFont;
            font-weight: 600;
          }
        }
        .ingredientSearch {
          margin-top: 50px;
        }
      }
    }
  }
}
