@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
.shopping {
  width: 100%;
  .content {
    .table {
      width: 72%;
      max-width: 800px;
      margin: 0 auto;
      @include resp(584px) {
        width: 95%;
      }
    }
  }
}
