@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
.shopping {
  width: 100%;
  .content {
    .table {
      width: 72%;
      max-width: 800px;
      margin: 0 auto;
      @include resp(584px) {
        width: 95%;
      }
    }
    .addNewIngredient {
      color: $button-default;
      font-size: 40px;
      position: fixed;
      bottom: 20px;
      right: 20px;
      cursor: pointer;
    }
  }
}
