$main-blue: #32384b;
$secondary-blue: #577cff;
$secondary-red: #ff4242;
$white: #fff;
$font-black: rgb(80, 80, 80);
$dark-screen: rgba(61, 61, 61, 0.548);
$box-shadow: 1px 2px 3px rgb(185, 185, 185);
$input-border: 1px solid rgba(133, 133, 133, 0.363);
$button-default: #577cff;
$button-danger: #ff4242;
$button-disabled: #aaaaaa;
