@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

.paper {
  width: 100%;
  margin: 0 auto;
  border-radius: 40px;
  background-color: $monoBg;
  color: $monoFont;

  &__content {
    padding: 35px;
    opacity: 0;
  }
}
