@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

.input {
  color: $monoFont;
  margin-bottom: 30px;
  text-align: left;
  &__content {
    padding: 20px 10px 20px 5px;
    border-radius: 25px;
    box-shadow: $monoInputShadow;
    transition: 0.5s;
    &:hover {
      box-shadow: $monoInputShadowHover;
    }

    input {
      border: none;
      background: none;
      outline: none;
      font-size: 18px;
      color: $monoFont30;
      width: 90%;

      @include resp(870px) {
        width: 60%;
      }
    }
  }
  &__content > :first-child {
    height: 22px;
    margin: 0 10px -3px 25px;
    color: $monoFont30;
    font-size: 20px;
  }
}
