@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";
.inputButton {
  margin-top: 70px;
  input {
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 20px 10px 20px 5px;
    color: white;
    font-size: 20px;
    border-radius: 21px;
    letter-spacing: 3px;
    transition: 0.5s;
    background: linear-gradient(
      270deg,
      rgba(244, 85, 86, 1) 0%,
      rgba(252, 138, 68, 1) 100%
    );
    box-shadow: $monoButtonShadow;
    &:hover {
      box-shadow: $monoButtonShadowHover;
    }
  }
}
