@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";
.foodItems {
  margin-top: 5px;
  width: 100%;
  display: flex;
  align-items: center;

  .foodImage {
    width: 50px;
    border-radius: 8px;
  }
  .foodInfo {
    padding-left: 18px;
    .foodTitle {
      font-size: 20px;
      color: $font-dark;
    }
  }
}

// .mealModal {
//   position: fixed;
//   top: 0;
//   left: 0;
//   height: 100vh;
//   width: 100%;
//   display: grid;
//   place-items: center;
//   background-color: rgba(61, 61, 61, 0.548);
//   .content {
//     background-color: white;
//   }
// }
