@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";
.foodItems {
  margin-top: 5px;
  width: 100%;
  display: flex;
  align-items: center;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    @include resp(400px) {
      width: 70px;
      height: 70px;
    }
  }

  .foodInfo {
    padding-left: 18px;

    .foodTitle {
      font-size: 20px;
      color: $font-dark;
    }
  }
}
