@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

.planDisplay {
  margin-top: 100px;
  width: 250px;
  box-shadow: $monoFrame;
  border-radius: 8px;
  &__content {
    .image {
      img {
        border-radius: 8px 8px 0 0;
        width: 100%;
      }
    }

    .info {
      margin: 0 auto;
      width: 80%;
      .name {
        margin-top: 10px;
        font-size: 1.2rem;
        font-weight: 600;
        color: $monoFont;
        text-transform: capitalize;
        text-align: center;
      }
      .price {
        margin-top: 20px;
        text-align: left;
      }
      .calorieRange {
        margin-top: 10px;
        text-align: left;
      }
    }
    .actions {
      margin: 20px auto;
      width: 80%;
      display: flex;
      justify-content: space-between;
    }
  }
}
