@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

.dayMenu {
  width: 100%;
  .content {
    padding: 0 15px 0 15px;
    width: 93%;
    margin: 0 auto;
    margin-bottom: 60px;
    @include resp(400px) {
      padding: 0;
    }
    .screenNavigation {
      box-shadow: $monoFrame;
      padding: 10px 0;
      border-radius: 10px;
      margin-bottom: 30px;
      width: 100%;
      @include resp(400px) {
        margin-bottom: 15px;
      }
      .navContent {
        display: flex;
        align-items: center;
        flex-direction: column;

        .calorieGoal {
          font-size: 1.7rem;
          color: $monoFont;
          font-weight: 900;
          width: 100%;
        }
        .nav-item {
          margin: 0 auto;
          display: flex;
          align-items: center;

          @include resp(400px) {
            justify-content: space-between;
          }
          .box {
            width: 300px;
            @include resp(500px) {
              width: 200px;
            }
            @include resp(330px) {
              width: 150px;
            }
            .day {
              padding: 0 20px;
              font-size: 24px;
            }
          }

          .icon {
            border-radius: 50px;
            padding: 7px;
            font-size: 24px;
            @include resp(330px) {
              font-size: 20px;
            }
            cursor: pointer;
          }
        }
      }
    }

    .menu {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      .menu_content {
        width: 100%;
        display: flex;
        justify-content: space-around;
        @include resp(1122px) {
          display: block;
        }

        .stats {
          box-shadow: $box-shadow;
          background-color: white;
          justify-self: end;
          width: 430px;
          border-radius: 8px;
          @include resp(1122px) {
            justify-self: center;
            margin: 30px auto;
          }
          @include resp(500px) {
            width: 100%;
          }
        }
      }
    }
  }
}
