@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";

.resultItem {
  margin-top: 20px;
  width: 100%;
  background-color: $monoBg;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
  box-shadow: $monoFrame;
  &:hover {
    box-shadow: $monoFrame;
  }
  &__content {
    padding: 10px;
    display: flex;
    align-items: center;
    .image {
      img {
        width: 50px;
        border-radius: 8px;
        margin-right: 20px;
      }
    }
    .resultName {
      font-weight: 700;
      font-size: 18px;
    }
  }
}
