@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";

.resultItem {
  margin-top: 5px;
  width: 100%;
  cursor: pointer;
  background-color: white;
  border-radius: 8px;
  transition: 0.3s;
  &:hover {
    box-shadow: $box-shadow;
  }
  &__content {
    padding: 10px;
    display: flex;
    align-items: center;
    .image {
      img {
        width: 50px;
      }
    }
  }
}
