@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

.calculator-wrapper {
  margin-top: 150px;
  .result {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 400px;

    .number {
      font-size: 120px;
    }
  }
}
