@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";

.createIngredient {
  margin-bottom: 50px;
  &__content {
    .modalTitle {
      font-size: 2rem;
      font-weight: 700;
      color: $monoFont;
      text-align: center;
      margin: 50px 0;
    }

    .formBox {
      width: 75%;
      margin: 0 auto;
      @include resp(500px) {
        width: 100%;
      }
      form {
        .fileInputBlock {
          margin-top: 15px;
        }
        .inputBlock {
          margin-top: 15px;
          width: 100%;
        }
        .button {
          width: 100%;

          input {
            margin-top: 20px;
            width: 100%;
            background-color: $orange-main;
            border: none;
            cursor: pointer;
            color: white;
            height: 40px;
            border-radius: 8px;
            &:hover {
              background-color: $orange-hover;
            }
          }
        }
      }
    }
  }
}
