@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/constants.scss";

.createUserModal {
  width: 100%;
  .content {
    .exitBtn {
      position: absolute;
      top: 20px;
      left: 20px;
      cursor: pointer;
    }
    form {
      height: 200px !important;
      .modalTitle {
        color: $orange-main;
        margin: 30px 0 0 0;
        font-size: 36px;
      }
      .line {
        width: 40%;
        height: 3px;
        background-color: $orange-main;
        margin: 0 auto;
        margin-bottom: 50px;
      }
      .file-input {
        text-align: left;
      }
      .inputBlock {
        margin-top: 10px;
        .inputLabel {
          text-align: left;
          padding-left: 7px;
          color: $font-black;
        }
        .inputEl {
          background-color: $white;
          width: 98%;
          margin: 0 auto;
          text-align: left;
          border-radius: 8px;
          border: $input-border;

          input,
          select {
            padding-left: 3px;
            height: 30px;
            width: 90%;
            border: none;
            margin: 2px;
            outline: none;
          }
        }
      }
      .button {
        input {
          color: white;
          margin-top: 40px;
          background-color: $orange-main;
          width: 100%;
          border: none;
          height: 38px;
          border-radius: 4px;
          cursor: pointer;
        }
      }
      .dontHaveAcc {
        text-align: right;
        margin-top: 20px;
        p {
          color: $orange-main;
          cursor: pointer;
        }
      }
    }
  }
}
