@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.profile {
  margin: 60px 0;
  width: 100%;
  .content {
    padding: 20px 0;
    border-radius: 8px;
    background-color: $main-blue;
    width: $content_width;
    margin: 0 auto;

    .info {
      display: flex;
      justify-content: space-between;
      width: 50%;
      margin: 50px auto;
      p {
        color: white;
        text-align: left;
        margin-top: 10px;
        span {
          padding-right: 7px;
          font-weight: 700;
          color: rgb(202, 202, 202);
        }
      }
    }
    .actions {
      .editProfile {
        background-color: $button-default;
        width: 50%;
        border: none;
        color: $white;
        height: 40px;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}
