@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

.input {
  color: $monoFont;
  margin-bottom: 30px;
  text-align: left;
  opacity: 0;
  &__content {
    display: flex;
    padding: 20px 10px 20px 5px;
    border-radius: 25px;
    transition: 0.5s;
    &:hover {
      box-shadow: $monoInputShadowHover;
    }

    textarea {
      border: none;
      background: none;
      outline: none;
      font-size: 18px;
      color: $monoFont30;
      width: 100%;
      background-color: transparent;
      min-height: 200px;
    }
  }
  &__content > :first-child {
    height: 22px;
    margin: 0 10px -3px 25px;
    color: $monoFont30;
    font-size: 20px;
  }
}
