@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";
@import "../../../../styles/constants.scss";

.addedIngredientItem {
  width: 100%;
  border-radius: 8px;
  background-color: white;
  box-shadow: $box-shadow;
  margin-top: 5px;
  &__content {
    width: 95%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .image {
      img {
        width: 70px;
      }
    }
    .ingName {
      font-size: 16px;
    }
    .measurementInputs {
      input[type="number"] {
        width: 60px;
        border: $input-border;
        border-radius: 8px 0 0 8px;
        height: 30px;
        border-right: none;
        outline: $font-light;
        padding-left: 4px;
      }
      select {
        height: 32px;
        border: $input-border;
        border-left: none;
        border-radius: 0 8px 8px 0;
        width: 40px;
      }
    }
    .removeBTN {
      display: grid;
      place-items: center;
    }
  }
}
