@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

.foodTransfer {
  padding-top: 50px;
  width: 100%;
  &__content {
    width: 95%;
    margin: 0 auto;
    .searchBox {
    }
    .results {
      &__content {
        width: 70%;
        margin: 0 auto;

        .responseItem {
          background-color: rgb(216, 216, 216);
          &__content {
            .mainInfo {
              margin-top: 20px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              img {
                width: 200px;
              }
            }
            .restInfo {
              &__content {
              }
            }
          }
        }
      }
    }
  }
}
