@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";
.mono {
  outline: none;
  border: none;
  cursor: pointer;
  width: 186px;
  height: 56px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 400;
  color: $monoFont30;
  text-align: center;
  box-shadow: $monoButtonShadow;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
  &:hover {
    box-shadow: $monoButtonShadowHover;
  }
  &:active {
    transition: 0.1s;
    box-shadow: $monoButtonShadow;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

.default {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  color: $monoFont30;
  width: 186px;
  height: 56px;
  transition: 0.5s;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
  &:hover {
    color: $monoFont;
  }
  &:active {
    color: $monoFont30;
    transition: 0.1s;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}
