@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #95c11f;
  --bgCard: #1e2021;
  --fgCard: #27282b;
  --paragraph: #cdcdcd;
  --menuColor: #19191a;
  --textColor: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
}
body {
  color: var(--textColor);
  background-color: var(--bgCard);
}
