@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #95c11f;
  --bgCard: #1e2021;
  --fgCard: #27282b;
  --paragraph: #cdcdcd;
  --menuColor: #19191a;
  --textColor: #fff;
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--bgCard);
}
