@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

.tableRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-radius: 8px;
  margin-top: 30px;
  box-shadow: $monoFrame;
  min-width: 300px;
  cursor: pointer;

  .image {
    width: 100px;
    height: 100%;
    border-radius: 8px 0 0 8px;
    display: grid;
    place-items: center;
    img {
      border-radius: 8px 0 0 8px;
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }
  .nameAndAmount {
    text-align: left;
    margin-left: 20px;

    .name {
      p {
        max-width: 150px;
        font-weight: 700;
        font-size: 1.3rem;
        color: $monoFont;
      }
    }
    .purchaseAmount {
      display: flex;
      .amount {
        margin-left: 10px;
        color: $monoFont;
      }
    }
  }
  .buyButton {
    display: flex;
    justify-content: right;
  }
}
