@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";
@import "../../../../styles/constants.scss";

.ingredientEditResults {
  width: 100%;
  min-width: 250px;
  padding: 7px 0px;
  &__content {
    border-radius: 8px;
    padding: 4px;
    background-color: white;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .imageAndName {
      display: flex;
      align-items: center;
      img {
        max-height: 100px;
        width: 100px;
        @include resp(400px) {
          width: 50px;
        }
      }
      .name {
        padding-left: 20px;
      }
      .nutrition {
        color: $font-dark;
        font-weight: 400;
        padding-left: 20px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        &-section {
          margin-left: 20px;
        }

        span {
          font-weight: 700;
        }

        .carbs {
        }
        .protein {
        }
        .fat {
        }
        .price {
        }
      }
    }
    .editBtn {
      background-color: transparent;
      border: none;
      color: $orange-main;
      cursor: pointer;
    }
  }
}
.updateIngredient {
  max-width: 450px;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: $rightBar-bg;
  box-shadow: -3px 3px 15px rgba(92, 92, 92, 0.527);
  z-index: 1;
  &__content {
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    .exitBtn {
      position: fixed;
      top: 20px;
      cursor: pointer;
      right: 20px;
    }
    .modalTitle {
      font-size: 24px;
      color: $orange-main;
      text-align: center;
    }
    .formBox {
      width: 100%;
      margin-top: 40px;
      .inputBlock {
        width: 100%;
        margin-top: 15px;
        .inputLabel {
        }
        .inputEl {
          width: 100%;
          border-radius: 8px;
          background-color: white;
          height: 34px;
          display: grid;
          place-items: center;
          border: $input-border;
          input {
            width: 95%;
            border: none;
            outline: none;
          }
        }
      }
      .fileInputBlock {
        margin-top: 15px;
      }
      .inputBlock {
        width: 100%;
        .submitButton {
          margin-top: 30px;
          width: 100%;
          background-color: $orange-main;
          border: none;
          height: 32px;
          border-radius: 8px;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
