@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.homePage {
  width: 100%;
  &__content {
    width: 80%;
    max-width: 1300px;
    margin: 0px auto;

    .hero {
      height: 90vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .leftSide {
        width: 50%;
        text-align: left;
        h1 {
          font-size: 48px;
          color: $monoFont30;
        }
        p {
          width: 90%;
          margin-top: 25px;
          color: $monoFont;
          margin-bottom: 90px;
        }
      }
      .rightSide {
        width: 50%;
        position: relative;
        &__content {
          .backgroundElement {
            margin: 0 auto;
            width: 500px;
            height: 500px;

            background: linear-gradient(
              270deg,
              rgba(244, 85, 86, 1) 0%,
              rgba(252, 138, 68, 1) 100%
            );
            border-radius: 50%;
          }
          img {
            position: absolute;
            margin-left: -140px;
            margin-top: -40px;
          }
        }
      }
    }
    .todaysPick {
      height: 100vh;
    }
    .calculator {
      height: 100vh;
      h2 {
        margin: 30px auto;
        color: $monoFont;
        padding: 30px 0;
        font-size: 36px;
        text-transform: uppercase;
      }
    }
  }
}
