@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";

.updateMealForm {
  &__content {
    width: 100%;
    .mainInfo {
      &__content {
        width: 90%;
        margin: 0 auto;
        .formName {
          margin-top: 50px;
          font-size: 2rem;
          color: $monoFont;
          font-weight: 700;
          text-align: left;
        }
        .form {
          margin-top: 60px;
          text-align: left;
          .formInput {
            margin: 15px;
          }
        }
      }
    }

    .ingredientsNeeded {
      margin-top: 30px;
      .formName {
        width: 90%;
        margin: 0 auto;
        text-align: left;
        font-size: 2rem;
        color: $monoFont;
        margin-bottom: 30px;
      }
      &__content {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include resp(400px) {
          grid-template-columns: 1fr;
        }
        .ingSearch {
          width: 95%;
          position: relative;
          @include resp(400px) {
            margin-bottom: 30px;
            width: 100%;
          }

          .searchResults {
            position: absolute;
            width: 100%;
            top: 40px;
            border-radius: 4px;
            &__content {
              padding: 10px;
            }
          }
        }
      }
    }
    .cookingSteps {
      margin-top: 30px;
      &__content {
        width: 90%;
        margin: 0 auto;
        .titleAndAction {
          .formName {
            text-align: left;
            font-size: 2rem;
            color: $monoFont;
          }
        }
        .steps {
          .updateMealStep {
            margin-top: 30px;
            text-align: left;
            padding-bottom: 30px;
            border-bottom: 1px dashed $monoFont30;
            &__content {
              .actions {
                margin-top: 20px;
                display: flex;
                justify-content: flex-end;
                button {
                  padding: 10px 30px;
                  border: none;
                  background-color: $orange-main;
                  color: white;
                  margin-left: 20px;
                  cursor: pointer;
                  border-radius: 4px;
                }
              }
              .stepDisplay {
                .stepTitle {
                  font-size: 1.5rem;
                }
                .stepDescription {
                  margin-top: 16px;
                }
              }
            }
          }

          .addNewStep {
            margin-top: 30px;
            margin-bottom: 60px;
            text-align: left;
            &__content {
              display: flex;
              flex-direction: column;
              .title {
                font-size: 2rem;
                color: $orange-main;
                margin-bottom: 30px;
              }

              .action {
                button {
                  padding: 7px 30px;
                }
              }
            }
          }
        }
      }
    }
    .actionBox {
      padding: 30px 0;

      text-align: center;
      button {
        width: 91%;
        height: 30px;

        border: none;
        background-color: $orange-main;
        color: white;

        cursor: pointer;
        border-radius: 4px;
      }
    }
  }
}
